<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
      <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Client.Properties.Settings>
            <setting name="Port" serializeAs="String">
                <value>8086</value>
            </setting>
            <setting name="SolutionCheckingInterval" serializeAs="String">
                <value>9000</value>
            </setting>
            <setting name="SolveTimeout" serializeAs="String">
                <value>50000</value>
            </setting>
            <setting name="Address" serializeAs="String">
                <value>192.168.56.1</value>
            </setting>
        </Client.Properties.Settings>
    </userSettings>
    <log4net>
      <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
        <threshold value="Info" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%date{ABSOLUTE} [%thread] %message%newline%exception" />
        </layout>
      </appender>
      <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
        <threshold value="Debug" />
        <file value="C:\logs\ComputationalClient.txt" />
        <appendToFIle value="true" />
        <rollingStyle value="Size" />
        <maximumFileSize value="10MB" />
        <maxSizeRollBackups value="5" />
        <staticLogFileName value="true" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%date{ABSOLUTE} [%thread] %level - %message%newline%exception" />
        </layout>
      </appender>
      <root>
        <appender-ref ref="ConsoleAppender" />
        <appender-ref ref="RollingFileAppender" />
      </root>
    </log4net>
</configuration>